.main_container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.heroBanner {
  height: 64vh;
  width: 100%;
  position: relative;
}
.heroBanner img {
  height: 100%;
  width: 100%;
}



/* common Heading  */

.commonHeadcontainer {
  display: flex;
  justify-content: space-between;
  gap: 10vw;
  padding-top: 40px;
  padding-bottom: 20px;
}

.section1 {
  border-left: 5px solid var(--primary);
  padding-inline: 1vw;
  font-family: 'Merriweather-Sans';
}
.section1 div {
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Merriweather-Sans';
}
/* .section1 div span::first-letter{
  font-size: 2.2rem;
} */
/* .section1 h3::first-letter {
  font-size: 2.2rem;
} */

/* .highlightfirstletter{
  display: inline-block;
} */
.highlightfirstletter span::first-letter {
  font-size: 4.2rem;
  display: inline-block; 
  line-height: 1; 
}

.firstLetterHighlight {
  font-size: 2.2rem;
}



.section1 span {
  color: var(--primary);
}
.section2 {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 7px;
  /* border: 1px solid red; */
}
.section2 h4 {
  font-size: 1.4rem;
  font-weight: 600;
}
.right {
  display: flex;
  gap: 5px;
  align-items: center;
}

.right h4{
  font-size: 1.1rem;
}
.right p{
  font-family: 'Merriweather-Sans';
  color: #6D6D6D;
  font-size: 14px;
  font-weight: 300;
}

.right img {
  height: 25px;
  width: 25px;
}

.tabs_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 14%;
  box-shadow: 1.61px 2.01px 12px 0px #00000021;
  padding-block: 2vh;
  font-family: 'Merriweather-Sans';
}
.tabs_container img {
  height: 40px;
  width: 40px;
}

.tabs_container span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.tabs_container h3 {
  font-size: 1.2rem;
}
.active {
  border-bottom: 2px solid var(--primary);
}

.details_flex {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 4vw;
}
.right_side {
  display: flex;
  flex-direction: column;
}

@media (max-width:1440px) {
  .details_flex{
    padding: 20px 50px;
  }
  .tabs_container{
    padding: 20px 60px;
  }
  .commonHeadcontainer{
    padding: 50px 50px 20px;
  }
  .highlightfirstletter{
    font-size: 1.2rem !important;
  }
}
@media (max-width:1024px) {
  .details_flex{
    padding: 20px 20px;
  }
  .tabs_container{
    padding: 20px 40px;
  }
  .commonHeadcontainer{
    padding: 50px 20px 20px;
  }
}
@media (max-width:768px) {
  .details_flex{
    padding: 20px 10px;
  }
  .tabs_container{
    padding: 20px 30px;
  }
  .commonHeadcontainer{
    padding: 50px 10px 20px;
  }
}
@media (max-width: 700px) {
  
  .details_flex {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  .tabs_container span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
  }
  .tabs_container img {
    height: 20px;
    width: 20px;
  }
  .tabs_container > div {
    padding-inline: 2vw;
  }
  .tabs_container h3 {
    font-size: 0.7rem;
  }
  .section1 h3 {
    font-size: 1.5rem;
  }

  .section2 {
    display: none;
  }
}


.scaledowncenter {
  -webkit-animation: scale-down-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
  animation: scale-down-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@-webkit-keyframes scale-down-center {
  50% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  0%, 100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
  }
}

@keyframes scale-down-center {
  50% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  0%, 100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
  }
}



@media (min-width: 320px) and (max-width: 519px) {
  .tabs_container{
    padding: 20px 0px;
  }
  
  .heroBanner {
    height: 300px;
    width: 100%;
  }
  .section1 div {
    font-size: 1.5rem;
  }
  .section2{
    display: none;
  }
  .tabs_container {
    gap: 0;
  }
}