.main_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5vh 10vw;
  background-color: #02012d;
  background-image: url("/Assets/Images/luggage.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 20% auto;
}
.hide_desktop {
  display: none;
}

.main_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 30rem;
}
.image_section {
  position: relative;
}
.image_section img:first-child {
  height: 30rem;
  width: auto;
}
.image_section img:nth-child(2) {
  height: 12rem;
  width: auto;
  position: absolute;
  bottom: 5vh;
  left: 20rem;
}
.content_section {
  padding-inline: 5vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content_section > p {
  font-size: 1.08rem;
  line-height: 1.75rem;
  text-transform: capitalize;
  font-family: "Exo", sans-serif;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.buttons button {
  padding: 8.5px 15px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 6px;
  justify-content: left;
  background-color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  border-radius: 3px;
}
.buttons button p {
  text-align: left;
  font-family: var(--primary-font);
}

.buttons img {
  height: 40px;
  width: 40px;
}

@media (min-width: 1025px) and (max-width:1440px) {
  .main_container{
    padding: 5vh 2vw;
  }
  .image_section img:nth-child(2){
    left: 50%;
  }
}

@media (min-width: 769px) and (max-width:1024px) {
  .main_container {
    padding: 5vh 2vw;
  }
  .image_section img:first-child{
    max-width: 400px;
    width: 100%;
  }
  .image_section img:nth-child(2){
    left: 50%;
  }

}
@media (max-width:999px) {
  .main_section {
    grid-template-columns: 1fr;
    gap: 40px;
    height: auto;
  }
  .image_section,
  .content_section{
    padding: 0px 20px;
  }
  .content_section p{
    margin-bottom: 20px;
  }
  .image_section img:first-child{
    max-width: 600px;
    width: 100%;
  }
  .image_section img:nth-child(2){
    left: 60%;
  }
}

@media (max-width:768px) {
  .main_container{
    padding:  20px;
  }
  
}
@media (max-width: 700px) {
  .image_section,
  .content_section{
    padding: 0px;
  }
  .main_container{
    padding: 18px !important;
  }
  .hide_phone {
    display: none;
  }
  .hide_desktop {
    display: block;
  }

  .main_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5vh 5vw;

    background-size: 70% auto;
  }

  .main_section {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .content_section {
    gap: 5vh;
  }

  .image_section {
    padding-bottom: 10vh;
    margin-bottom: 3vh;
  }

  .image_section img:first-child {
    height: 80vw;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .image_section img:nth-child(2) {
    height: 9rem;
    width: auto;
    position: absolute;
    bottom: 0vh;
    left: 100%;
    transform: translateX(-100%);
  }

  .content_section > p {
    font-size: 0.85rem;
    line-height: 1.5rem;
    text-transform: capitalize;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .buttons button {
    padding: 8.5px 10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 6px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    border-radius: 3px;
  }

  .buttons img {
    height: 30px;
    width: 30px;
  }
  .buttons p {
    font-size: 0.75rem;
  }
}
